body {
    text-align: center;
    background-color: rgb(226, 174, 174);
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
}

.para, .list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}